@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<title>@ViewData["Title"]</title>
<style>
    .news-post {
        margin-bottom: 20px;
        border: 1px solid #dddddd;
        background: #f3f3f3;
        color: #333;
        border-radius: 4px;
    }

    .contain-content {
        padding: 5px 12px;
        border-top: 1px solid #DDDDDD;
    }

    .news-title {
        font-size: 13px;
        height: 40px;
        margin: 10px 0 5px;
        line-height: 20px;
        text-transform: uppercase;
        text-align: left;
    }

    .post-date {
        text-align: left;
    }
</style>
<div class="card" style="margin-top:10px;padding:10px;">
    <h2>Sản phẩm</h2>

    <div class="x_panel">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="news-post">
                    <div class="contain-img">
                        <a href="item.subject_content"><img style="border-radius: 4px 4px 0 0;" src="https://manager.airline24h.com/upload/images/VN.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="contain-content">
                        <p class="news-title"><a href="item.subject_content"><strong>item.Title</strong></a></p>
                        <p style="color:red">22,000,000 VNĐ</p>
                        <p class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> item.Date</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="news-post">
                    <div class="contain-img">
                        <a href="item.subject_content"><img style="border-radius: 4px 4px 0 0;" src="https://manager.airline24h.com/upload/images/VN.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="contain-content">
                        <p class="news-title"><a href="item.subject_content"><strong>item.Title</strong></a></p>
                        <p style="color:red">22,000,000 VNĐ</p>
                        <p class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> item.Date</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="news-post">
                    <div class="contain-img">
                        <a href="item.subject_content"><img style="border-radius: 4px 4px 0 0;" src="https://manager.airline24h.com/upload/images/VN.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="contain-content">
                        <p class="news-title"><a href="item.subject_content"><strong>item.Title</strong></a></p>
                        <p style="color:red">22,000,000 VNĐ</p>
                        <p class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> item.Date</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="news-post">
                    <div class="contain-img">
                        <a href="item.subject_content"><img style="border-radius: 4px 4px 0 0;" src="https://manager.airline24h.com/upload/images/VN.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="contain-content">
                        <p class="news-title"><a href="item.subject_content"><strong>item.Title</strong></a></p>
                        <p style="color:red">22,000,000 VNĐ</p>
                        <p class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> item.Date</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="news-post">
                    <div class="contain-img">
                        <a href="item.subject_content"><img style="border-radius: 4px 4px 0 0;" src="https://manager.airline24h.com/upload/images/VN.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="contain-content">
                        <p class="news-title"><a href="item.subject_content"><strong>item.Title</strong></a></p>
                        <p style="color:red">22,000,000 VNĐ</p>
                        <p class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> item.Date</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="news-post">
                    <div class="contain-img">
                        <a href="item.subject_content"><img style="border-radius: 4px 4px 0 0;" src="https://manager.airline24h.com/upload/images/VN.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="contain-content">
                        <p class="news-title"><a href="item.subject_content"><strong>item.Title</strong></a></p>
                        <p style="color:red">22,000,000 VNĐ</p>
                        <p class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> item.Date</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



